<h1>The Hand Tool Armory</h1>
<section>
  <h2>About the Armory</h2>
  <p>If I have a "Digital Forge", then I must have a "Hand Tool Armory".</p>
  <p>I've always had a desire to build, regardless of the medium. As a kid, my love for woodworking started by watching those around me (and on PBS - <a href="https://www.pbs.org/show/woodwrights-shop/" target="_blank">Thanks you Roy Underhill</a>). Folks in my area knew how to be resourceful, everything had a purpose or could be repurposing. No waste. I watched as logs, that were otherwise destined to rot, would be taken and slowly shape it into fine furniture. I was fascinated to say the least, and watched as so much knowledge was passed down from generation to generation. Until it wasn't...</p>
  <p>
    Now, I know I'm a Software Engineer, but we have to agree, since the interwebs, we've lost a lot of knowledge from these trades and traditions. I'm not saying it's all gone, but it's not as easy to find as it once was. I've been fortunate to have a few mentors along the way, but I've also had to do a lot of digging on my own. Trades used to be learned "on the job" passed down from "the old man/woman" who started learning the trade with their grandparents when they were young. While the internet is great, there are some things you can't learn from YouTube.
    I eventually stumbled upon a few books and articles from Christopher Schwarz and folks at <a href="https://lostartpress.com/collections/books-by-christopher-schwarz" target="_blank">the Lost Art Press</a>. Chris seemed to have made it his life goal to document, publish, and share all he could find about these dieing traditions (at least within the Woodworking world). I was a bit hooked to say the least. I've been collecting and restoring hand tools ever since. I've been fortunate to find some great deals on eBay and at local antique shops, and have been blessed with some amazing gifts from friends and family.
  </p>
  <p>I am by no means a profiessional, my goals are a bit more tame, I simply want to collect, and share the knowledge and resources found with others in hopes of keeping these traditions alive. Maybe the collection of books and notes will one day be of use to another. At least in my mind, there's one book in circulation.</p>
  <p>While my attention staring out has mainly been related to Woodworking, my interests lie in all Trades. If you are a maker, my hope is that you find this space helpful and if you have resources to mention or follow please reach out! I'm happy to link and support.</p>
</section>
<section>
  <h2>Resources and Follows</h2>
  <p>List Coming Soon...</p>
  <!--TODO: Make a Database...-->
  <!--  <div>
    <p class="font-bold">Woodworking</p>
    <ui>
      List Coming Soon...
    </ui>
    <p class="font-bold">Leatherworking</p>
    <ui>
      List Coming Soon...
    </ui>
    <p class="font-bold">Blacksmithing</p>
    <ui>
      List Coming Soon...
      </ui>
  </div> -->
</section>
<section>
  <h2>Stay in touch!</h2>
  <p>To see my own adventures, follow me on Instagram <a href="https://instagram.com/3wirebuild" target="_blank">@3wirebuild</a></p>
</section>
