<h1 class="h-24 w-full flex justify-between bg-brand-blue-100 text-brand-blue-950 shadow-md">Main#index.html.erb</h1>
<p class="text-brand-blue-950">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magnam ratione omnis rem. Deleniti aperiam, iusto eius tempore aut veritatis fugit quas distinctio ipsam sint fugiat cum ullam vero maiores.</p>
<div class="bg-brand-blue-50 p-4 m-8 rounded-xl h-[500px] border-2 border-brand-blue-400">
  <p class="text-lg text-brand-blue-700">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus veritatis magni sit consectetur ipsum nemo esse sint! Nihil saepe enim veniam impedit quasi maxime libero necessitatibus provident iusto aspernatur. Nam.</p>
</div>
<div class="bg-brand-matrix-200 p-4 m-8 rounded-xl h-[500px] border-2 border-brand-matrix-400">
  <p class="text-lg text-brand-blue-700">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus veritatis magni sit consectetur ipsum nemo esse sint! Nihil saepe enim veniam impedit quasi maxime libero necessitatibus provident iusto aspernatur. Nam.</p>
</div>
<div class="bg-brand-blue-50 p-4 m-8 rounded-xl h-[500px] border-2 border-brand-blue-400">
  <p class="text-lg text-brand-blue-700">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus veritatis magni sit consectetur ipsum nemo esse sint! Nihil saepe enim veniam impedit quasi maxime libero necessitatibus provident iusto aspernatur. Nam.</p>
</div>
<div class="flex">
  <% [50,100,200,300,400,500,600,700,800,900,950].each do |step| %>
    <div class="bg-brand-blue-<%= step %> h-8 w-8 rounded-full m-2 border-[1px] border-black"></div>
  <% end %>
</div>
<div class="flex">
  <% [50,100,200,300,400,500,600,700,800,900,950].each do |step| %>
    <div class="bg-brand-matrix-<%= step %> h-8 w-8 rounded-full m-2 border-[1px] border-black"></div>
  <% end %>
</div>
<div class="flex">
  <% [50,100,200,300,400,500,600,700,800,900,950].each do |step| %>
    <div class="bg-brand-blue-bell-<%= step %> h-8 w-8 rounded-full m-2 border-[1px] border-black"></div>
  <% end %>
</div>
<%# <div class="w-full h-[500px] bg-gradient-to-tr from-20% from-transparent  via-brand-blue-500 via-30% to-pink-400 to-95% rounded-full flex justify-center items-center">
  <div class="flex justify-center items-center w-full h-screen backdrop-blur-2xl">
    <p >SOMETHING , SOMETHING</p>
  </div>
</div> %>
