<div>
  <div class="flex flex-col justify-center items-center">
    <div class="w-full flex justify-between">
      <h1 class="flex flex-col text-5xl text-brand-emerald-700 font-light text-center">
        <span>Matthew</span>
        <span>Thompson</span>
      </h1>
      <%= image_tag "/avatars/shop.JPG", class: "h-24 w-24 border-2 shadow-xl object-fit borer-4 border-brand-emerald-300 rounded-lg", alt: "Matthew Thompson image" %>
    </div>
    <h2 class="my-4">Softward Engineer - Architect - Builder</h2>
  </div>
  <div class="mt-4">
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim, nam ducimus unde, sed accusamus a modi optio hic quasi esse nesciunt ipsa dolorum aperiam sunt officia, labore maiores voluptatem.</p>
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim, nam ducimus unde, sed accusamus a modi optio hic quasi esse nesciunt ipsa dolorum aperiam sunt officia, labore maiores voluptatem.</p>
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim, nam ducimus unde, sed accusamus a modi optio hic quasi esse nesciunt ipsa dolorum aperiam sunt officia, labore maiores voluptatem.</p>
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim, nam ducimus unde, sed accusamus a modi optio hic quasi esse nesciunt ipsa dolorum aperiam sunt officia, labore maiores voluptatem.</p>
  </div>
</div>
<div class="my-10">
  <%= render(ButtonComponent.new(label: "Learn More...")) %>
</div>
</div>
