<% merge_meta_tags noindex: true, nofollow: true %>
<h1 class="text-4xl text-brand-blue-700 dark:text-brand-blue-50 font-light text-center my-10">Admin Dash</h1>
<ul class="flex flex-col">
  <li class="dark:text-brand-blue-50 hover:underline my-4"><%= link_to 'Posts', admin_posts_path %></li>
  <li class="dark:text-brand-blue-50 hover:underline my-4"><%= link_to 'Tags', admin_tags_path %></li>
  <li class="dark:text-brand-blue-50 hover:underline my-4"><%= link_to 'Collections', admin_collections_path %></li>
  <li class="dark:text-brand-blue-50 hover:underline my-4"><%= link_to 'Resumes', admin_resumes_path %></li>
</ul>
