<ul id="selected-tags" class="mt-2 w-1/3 flex flex-wrap">
  <% selected_tags.each do |t| %>
    <li
    id="<%= t[:id]%>"
    data-id="<%= t[:id]%>"
    data-name="<%= t[:name]%>"
    data-multi-select-target="selectedTag"
    data-action="click->multi-select#removeItem"
      class="pr-6 rounded-full w-fit text-brand-blue-600 hover:bg-red-200 border hover:font-bold border-brand-blue-300 hover:border-red-400 flex items-center ">
      <span class="ml-2 text-xs">x</span>
      <span class="ml-2 text-sm"><%= t[:name] %></span>
    </li>
  <% end %>
</ul>
