<div class="mx-auto break-words prose prose-sm sm:prose-base prose-brand-blue dark:prose-invert prose-h1:text-center dark:prose-h1:text-brand-blue-100 prose-h1:text-brand-blue-600 prose-img:rounded-lg prose-img:w-3/4 prose-img:mx-auto prose-img:shadow-lg prose-img:border-4 prose-img:border-brand-blue-700 dark:prose-img:border-brand-blue-700 hover:prose-a:text-brand-key-lime-200 my-4 px-4 text-brand-blue-950 dark:text-brand-blue-100">
  <%= yield %>
</div>
