<% link_class = "text-sm font-medium text-brand-blue-50 hover:border-brand-blue-200 hover:border-b-2 my-4 active:text-brand-blue-700 active:border-brand-blue-700" %>
<% menu_links = [
    { label: 'About', path: root_path, class: link_class },
    { label: 'Blog', path: posts_path, class: link_class },
    { label: 'Connect', path: info_path, class: link_class },
] %>
<nav class="bg-gradient-to-tr from-brand-blue-400 to-brand-blue-600 shadow-xl h-18" data-controller="reveal" data-reveal-hidden-class="hidden">
  <div class="mx-auto max-w-6xl px-4">
    <div class="flex h-16 justify-between items-center">
      <div class="w-full flex justify-between items-center">
        <div class="mr-auto w-full">
          <%= link_to root_path do%>
            <img class="h-12" src="/brand/MThompson-white.png" alt="Matt Thompson">
          <% end %>
        </div>
        <div class="hidden sm:flex sm:space-x-8 items-center justify-end w-full">
          <% menu_links.each do |link| %>
            <%= link_to link[:label], link[:path], class: link[:class] %>
          <% end %>
        </div>
        <div class="mr-4 sm:ml-4 sm:mr-0 h-12 w-12 flex justify-center items-center" data-controller="dark-mode">
          <%= render('shared/dark_mode_toggle')%>
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class="flex items-center sm:hidden">
        <button data-action="click->reveal#toggle" type="button" class="inline-flex items-center justify-center rounded-md h-12 w-12 p-2 bg-brand-blue-600 active:bg-brand-blue-600 text-brand-blue-200 hover:text-brand-sunflower-200 shadow-[inset_1px_1px_5px_5px] shadow-brand-blue-500 active:shadow-brand-blue-900" aria-controls="mobile-menu">
          <span class="sr-only hidden">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div data-reveal-target="item" class="hidden">
      <div class="flex flex-col items-center justify-center">
        <% menu_links.each do |link| %>
          <%= link_to link[:label], link[:path], class: link[:class] %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
