<div data-controller="autocomplete" data-autocomplete-url-value="<%= search_posts_path %>" role="combobox" class="w-full">
  <input type="text" autocomplete="off" data-autocomplete-target="input" class="w-full dark:text-brand-blue-950" placeholder="Search Posts...">
  <input type="hidden" name="bird_id" data-autocomplete-target="hidden">
  <ul class="list-group" data-autocomplete-target="results"></ul>
</div>
