<div id="post-image-sidebar" class="bg-brand-blue-100 dark:bg-brand-blue-900 py-2 px-4 ">
  <h3 class="font-bold text-brand-blue-700 dark:text-brand-blue-50">Post Images</h3>
  <%= render 'post_images', post_images: @post.post_images %>
  <%= render 'upload_images_form', post: @post %>
</div>
