<div class="flex justify-between items-center text-brand-blue-700 dark:text-brand-blue-100 mt-4" >
  <div class="flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>
    <%= link_to "Back to posts", admin_posts_path %>
  </div>
  <%= link_to "Show this post", admin_post_path(@post) %>
</div>
<h1 class="text-2xl text-center m-10 text-brand-blue-700 dark:text-brand-blue-100">Editing post</h1>
<div class="grid grid-cols-4 gap-2">
  <div class="col-span-3">
    <%= render "form", post: @post, url: admin_post_path(@post) %>
  </div>

  <div class="col-span-1">
    <turbo_frame_tag id="post-image-sidebar">
      <%= render 'admin/posts/images_sidebar', post_images: @post.post_images %>
    </turbo_frame_tag>
  </div>
</div>