<div class="dark:text-brand-blue-50 text-brand-blue-950">
  <%= link_to "<- Back to posts", admin_posts_path %>
  <h1 class="text-2xl text-center m-10">New post</h1>
  <%= render "form", post: @post, url: admin_posts_path %>
</div>
