<h1 style="background-color: #FF77CC; padding:10px; border: solid 2px black; font-size: 2rem; color: white; margin:0; color: white;"> TEST EMAIL </h1>
<div style="background-color: #ccc; height: 200px; padding: 10px; font-size: 1rem;">
  <p><%= @body %></p>
</div>
