<h1 class="text-4xl text-brand-blue-700 dark:text-brand-blue-50 font-light text-center">Edit Collection</h1>
<% if @collection.errors.present? %>
  <p> Check the name!</p>
<%end%>
<%= form_with model: @collection, url: admin_collection_path(@collection), local: true, data: {turbo: false, turbo_stream: false}, class: "" do |f| %>
  <%= f.text_field :name, class: "" %>
  <%= f.submit "Save", class:"bg-brand-blue-500 px-4 py-2 text-white" %>
<%end%>
