<div id="<%= dom_id post %>" class="my-4">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>
  <p>
    <strong>Content:</strong>
  </p>
  <div class="break-words prose prose-brand-blue dark:prose-invert">
    <%= @markdown %>
  </div>
</div>
