<div class="">
  <div id="<%= dom_id post %>" class="mx-auto break-words prose prose-sm sm:prose-base prose-brand-blue dark:prose-invert prose-img:rounded-lg hover:prose-a:text-brand-key-lime-200 bg-gradient-to-br from-brand-blue-50 to-brand-blue-100 dark:from-brand-blue-800 dark:to-brand-blue-950 border-[1px] border-brand-blue-300 dark:border-brand-blue-600 my-4 p-4 rounded-lg text-brand-blue-950 dark:text-brand-blue-100">
    <%= @markdown %>
  </div>
</div>
